<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kagi - Rental Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class='main'>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/navbar.ejs", user) %>

    <div class='app'>
        <h2>Rentals for User <%- user.id %> (<%- user.username %>)</h2>
        <table>
            <tr><th>Book ID</th><th>User ID</th><th>Due Date</th></tr>
            <%-
            (function(){
                let rents = rentals.get(target.id.toString());
                if (rents?.length > 0)
                    return rents.map(({bookId, dueDate }) => {
                        return `<tr><td><a href="/book/${bookId}">${bookId}</a></td><td><a href="/user/${target.id}">${target.id}</a></td><td>${dueDate}</td></tr>`;
                    });
                else return 'No active rentals';
            })();
            %>
        </table>
    </div>
</div>
</body>
</html>
