<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kagi - User Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class='main'>
    <%- include("../partials/header.ejs") %>
    <%- include("../partials/navbar.ejs", user) %>

    <div class='app'>
        <h2>User Type: <%= user.type %></h2>
        <% if (user.type === 'user') { %>
            <h2>ID: <%= user.id %></h2>
            <h2>Name: <%= user.nkame %></h2>
            <h2>Email: <%= user.email %></h2>
            <% if (user.phone) { %><h2>Phone: <%= user.phone %></h2> <% } %>
            <h2>Birthdate: <%= user.birthdate %></h2>
        <% } %>
    </div>
</div>
</body>
</html>
